$accent-clr: hsl(25, 97%, 53%);
$text-clr: hsl(0, 0%, 100%);
$muted-clr: hsl(217, 12%, 63%);
$bg-clr: hsl(216, 12%, 8%);
$card-clr: hsl(213, 19%, 18%);
$ftr-clr: hsl(228, 45%, 44%);

$border-radius: 24px;

$font-main: "Overpass", sans-serif;

$font-regular: 400;
$font-semibold: 700;
