@use "../utils/variables" as v;
main {
  width: 360px;
  height: 100vh;
  margin: auto;
}

.rating-container {
  padding: 30px;
  background: v.$card-clr;
  border-radius: v.$border-radius;
}

.rating-state,
.thank-you-state {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.result-container {
  width: 380px;
  height: 360px;
  padding: 24px;
  margin: auto;
  text-align: center;
  flex-direction: column;
  background-color: v.$card-clr;
  border-radius: v.$border-radius;
}
.thank-you-state {
  display: none;
}
@media (max-width: 375px) {
  main {
    width: 100%;
    display: flex;
    padding: 12px;
  }
  .result-container {
    width: 100%;
  }
}
