@use "../utils/variables" as v;
.rating-container {
  width: 420px;
  height: 420px;
  padding: 30px;
  margin: auto;
  background: linear-gradient(to bottom, lighten(v.$card-clr, 4%), v.$card-clr);
  border-radius: v.$border-radius;
}

.rating-state,
.thank-you-state {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.result-container {
  width: 420px;
  height: 380px;
  padding: 24px;
  margin: auto;
  text-align: center;
  flex-direction: column;
  background-color: v.$card-clr;
  border-radius: v.$border-radius;
}
.thank-you-state {
  display: none;
}
